.petCatalog {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
}

.petCatalog__sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.petCatalog__sidebar select {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.petCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebe6e6;
    border-radius: 8px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.petCard.hidden {
    display: none;
}

.petCard__image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.petCard__figure {
    width: 100%;
}

.petCard__text {
    padding: 1rem 2rem;
}

.petCard__petInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.petCard__petInfo h2 {
    font-weight: 400;
}
.petCard__info p {
    display: flex;
    justify-content: space-between;
}

.petCard__button {
    appearance: button;
    font-size: initial;
    text-decoration: none;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border: 2px solid #ff896b;
    border-radius: 5px;
    background: #ff896b;
    color: #f3f3f3;
    width: 100%;
    text-align: center;
}

.petCard__button:hover{
    cursor: pointer;
}
