.petCatalog {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: 1fr;
    gap: 3.33%;
}

.petCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebe6e6;
    border-radius: 8px;
}

.petCard__image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.petCard__figure {
    width: 100%;
}

.petCard__text {
    padding: 1rem 2rem;
}

.petCard__petInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.petCard__btnSection {
    padding: 1rem 2rem 2rem;
}

.petCard__button {
    appearance: button;
    font-size: initial;
    text-decoration: none;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 2px solid #ff896b;
    border-radius: 5px;
    background: #ff896b;
    color: #f3f3f3;
}

.petCard__button:hover{
    cursor: pointer;
}