.petProfile {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: 1fr;
    gap: 5%;
}

.petProfile__title {
    font-weight: 400;
}

.petProfile__info {
    display: flex;
    flex-direction: column;
}

.petProfile__info > div {
    margin-bottom: 2rem;
}

.petProfile__image {
    width: 100%;
}

.petProfile__stayInfo > p {
    display: flex;
    justify-content: space-between;
}

.petProfile__listings-title {
    font-weight: 400;
}

.petProfile__listings-list {
    list-style: none;
    padding: 1rem 0;
}

.petProfile__listings-list-item {
    display: flex;
    position: relative;
    background: #ebe6e6;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.petProfile__listings-list-item span {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1.5rem;
    max-width: 75%;
}
.petProfile__listing-list-item form {
    height: 100%;
}

.petProfile__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    margin: 0;
}
