.dashboard__title {
    margin-bottom: 2rem;
}

.dashboard__column-title {
    font-weight: 400;
    margin-bottom: 2rem;
}

.dashboard__column.right {
    display: grid;
    gap: 5rem;
}

.dashboard__wrapper {
    display: flex;
    flex-direction: column;
}

.dashboard__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}

.dashboard__list {
    list-style: none;
}

.dashboard__list-item {
    display: flex;
    position: relative;
    background: #ebe6e6;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.dashboard__list-item span {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.dashboard__list-item form {
    height: 100%;
}

.dashboard__pending {
    width: 100%;
    padding: 1rem 1.5rem;
}

.dashboard__button-pet-form {
    width: 100%;
    grid-area: register;
}

.auth__field {
    justify-content: space-between;
}

.auth__field.name {
    grid-area: name;
}

.auth__field.kind {
    grid-area: kind;
}

.auth__field.image {
    grid-area: image;
}

.auth__field.description {
    grid-area: description;
}

.dashboard__pet-form{
    display:grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "name kind"
        "image image"
        "description description"
        "register register";
}


.dashboard__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    margin: 0;
}

.dashboard__button-left {
    background: gray;
    border-color: gray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.dashboard__form-section {
    display: flex;
}

.dashboard__button-container {
    overflow:hidden;
}
.dashboard__button-container form {
    flex: 1 1 50%;
}

.dashboard__button-accept {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #9ede73;
    margin: 0;
}

.dashboard__button-decline {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #be0000;
    margin: 0;
}

.dashboard__return-form {
    width: 100%;
}
.dashboard__button-return {
    width: 100%;
    margin:0;
}

.dashboard__review-button {
    margin: 0;
}

.dashboard__review-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dashboard__review-section {
    transform: translateY(5rem);
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-out;
}

#dashboard__review-section.active {
    transform: translateY(0);
    height: 100%;
    opacity: 1;
}

.dashboard__home-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
}

.dashboard__home-images > div {
    width: 100%;
    position: relative;
}

.dashboard__home-images > div img {
    width: 100%;
}

.dashboard__home-images > div form {
    position: absolute;
    top: 1px;
    right: 1px;
}

.dashboard__home-delete-btn {
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    background: #ff896b;
}

.dashboard__home-new form {
    display: flex;
    flex-wrap: wrap;
}

.dashboard__home-new form * {
    flex: 1 1 auto;
}

@media only screen and (max-width: 1024px) {
    .dashboard__home-images {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .dashboard__row {
        grid-template-columns: 100%;
    }

    .dashboard__home-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard__pet-form {
        grid-template-columns: 100%;
        grid-template-areas:
        "name"
        "kind"
        "image"
        "description"
        "register";
    }
}
