.dashboard__title {
    margin-bottom: 2rem;
}

.dashboard__column-title {
    font-weight: 400;
    margin-bottom: 2rem;
}

.dashboard__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.dashboard__pet-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.dashboard__list {
    list-style: none;
}

.dashboard__list-item {
    display: flex;
    position: relative;
    background: #ebe6e6;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.dashboard__list-item span {
    padding: 1rem 1.5rem;
}
.dashboard__list-item form {
    position: absolute;
    right: 0;
    height: 100%;
}