.home__wrapper {
    position: absolute;
    bottom: 25%;
    left: 10%;
    color: #f3f3f3;
}

.page__main {
    overflow: hidden;
    background-image: url("../img/hero_2.jpg");
    background-size: cover;
    background-position: top;
}

.page__wrapper {
    padding: 0;
}

.home__button {
    display: block;
    appearance: button;
    font-size: initial;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    box-sizing: border-box;
    border: 0.2rem solid #ff896b;
    border-radius: 0.5rem;
    background: #ff896b;
    color: #f3f3f3;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .home__wrapper {
        left: 1%;
    }
}
