.userCatalog{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebe6e6;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.userCard__image {
    width: 100%;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.userCard__figure {
    width: 100%;
}

.userCard__text {
    padding: 1rem 2rem;
}

.userCard__userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userCard__userInfo h2 {
    font-weight: 400;
}

.userCard__userInfo h2 span {
    font-size: 1.8rem;
}

.userCard__info p {
    display: flex;
    justify-content: space-between;
}

.userCard__btnSection {
    padding: 1rem 2rem 2rem;
}

.userCard__button {
    appearance: button;
    font-size: initial;
    text-decoration: none;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border: .2rem solid #ff896b;
    border-radius: .5rem;
    background: #ff896b;
    color: #f3f3f3;
    width: 100%;
    text-align: center;
}

.userCard__button:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .userCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .userCatalog {
        grid-template-columns: 1fr;
    }
}
